*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body{
    padding: 30px;
    background-color: rgb(249, 246, 243);
}

main{
    margin-top: 10vh;
}

h2{
    font-size: 1.3em;
    font-weight: normal;
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
}

a.expand{
    padding: 0 5px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
}

a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: underline;
}
a:visited{
   
}
a:focus{
    color: rgb(121, 121, 121);
}



/* Header styles */

header{
    /* height: 25vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    text-align: right;
}

header img{
    width: 70%;
    max-width: 260px;
    height: auto;
}


/* Section Styling */

section{
    margin-bottom: 10vh;
}

section p, section ul{
    margin: 15px 0;
    list-style-type: none;
}

/* Project Styling */
.project h3{
    margin: 5px 0;
}
.project img{
    width: 100%;
}

.project-section{
    margin-bottom: 0;
}

.separator{
    width: 100%;
    height: 4vh;
    margin-bottom: 8vh;
    border-bottom: 1px solid rgb(121, 121, 121);
}

.date{
    color: rgb(121, 121, 121);
}

span{
    font-size: 0.7em;
    border: 1px solid rgb(121, 121, 121);
    padding: 2px;
    border-radius: 5px;
}


/* 600 - 900 */
/* grid 2 column projects under the about and links */
@media only screen and (min-width:600px){
    .projects{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    header{
        font-size: 1.1em;
    }

    
}

/* 900 - 1200 */
/* move 2 column projects next to the about and links */
@media only screen and (min-width:900px){
    body{
        height: 100%;
    }
    
    main{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 60px;
    }

    header{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 60px;
    }

    header img{
        width: 100%;
        max-width: 500px;
        height: auto;
    }
    .projects{
        height: 70vh;
        overflow-y: auto;
    }

}